@{
    Layout = null;
}
@model Fjtc.Model.Entity.ProductUser
<div class="pageContent">
    <form method="post" action="@Url.Action("UpdatePassword")" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent" layoutH="56">
            <p>
                <label>新密码：</label>
                @Html.TextBoxFor(m => m.Password)
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
