
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>17Team</title>
</head>
<body>
    <div>
        这是团队官网
        <a href="@Url.Action("Register", "ProductUser")">注册商户</a>
        <a href="@Url.Action("Index", "Account",new {area="Admin"})">登录后台</a>
    </div>
</body>
</html>
